In [ ]:
#Tradicional
def listaIMC(usuarios):
  sis = []
  imc=[]
  b=0
  a2=0
  for n in range (usuarios):
    w=input("¿Cuál es tu nombre?  ") 
    sis.append((w,b/a2**2))
    imc.append(b/a2**2)
  return sis,imc


user=int(input("¿Cuántos usuarios hay? "))

sis,imc=listaIMC(user)

¿Cuántos usuarios hay? 2
¿Cuál es tu nombre?  ju
Ingresa el peso  123
Ingresa la altura  123
¿Cuál es tu nombre?  jji
Ingresa el peso  67
Ingresa la altura  90

In [ ]:
imc

[0.008130081300813009, 0.008271604938271605]

In [ ]:
#Comprensión
sis=listaIMC(user)
sis2=[n for n in imc if n>= 18.5]
print(sis2)

¿Cuál es tu nombre?  fbv
Ingresa el peso  67
Ingresa la altura  67
¿Cuál es tu nombre?  hbn
Ingresa el peso  45
Ingresa la altura  67
[]

In [ ]:
sis

([('fbv', 0.014925373134328358), ('hbn', 0.010024504343951883)],
 [0.014925373134328358, 0.010024504343951883])

In [ ]:
sis[1][1]

0.010024504343951883

In [ ]:
#Lambda
#IMC2=[28,30,40,35,100]
#sis=listaIMC(user)
sis3=list(map(lambda x: "peso insuficiente" if x<18.5 else "peso normal" if (x>=18.5 and x<24.9) else "sobrepeso" if (x>=24.9 and x<30) else "obesidad",imc))
sis3

['peso insuficiente', 'peso insuficiente']

#1. Samuelle

In [ ]:
#Los tipos de datos mutables son todos aquellos a los que es posible cambia, modificar o actuar
#Los objetos mutables más comunes son las listas, diccionarios y conjuntos que sirven para guiar

#SINTAXIS DE LISTAS POR COMPRENSIÓN

nueva_lista = [expresion bucle_for condiciones]

#Entre corchetes se escribe una expresión seguida de un bucle for sobre el que se itera, para

In [ ]:
#EJEMPLO

numbers = [1,2,3,4]
results = []
for n in numbers:
    results.append(n+1)

In [ ]:
numbers=[1,2,3,4]
results =[n+1 for n in numbers if n < 5]
results

In [ ]:
results2=lambda numbers:results
print(results2(numbers))

#2.Jesús

In [ ]:
n=int(input("Hasta que número quieres imprimir los pares e impares: "))
pares=[número for número in range(0,n+1) if número%2==0]
print(pares)
impares=[número for número in range (0,n+1) if número%2!=0]
print(impares)

In [ ]:
num=int(input("Hasta que número quieres imprimir los pares e impares: "))
def hola(n):
  pares=[número for número in range(0,n+1) if número%2==0]
  print(pares)
  impares=[número for número in range (0,n+1) if número%2!=0]
  print(impares)
  hola(num)

In [ ]:
num=int(input("Hasta que número quieres imprimir los pares e impares: "))
mi_lista=[n for n in range(0,num+1)]
impares=list(filter(lambda num:num%2==0,mi_lista))
print(impares)
pares=list(filter(lambda num:num%2!=0,mi_lista))
print(pares)

#3. Jhon

In [ ]:
#Tradicional
def perfecto(número):
  perf=0
  for i in range (1,número):
    if número %i==0:
      perf+=i
  if perf ==número:
    print("es número perfecto")
    return True
  else:
    print("no es número perfecto")
número=6
perfecto(número)

es número perfecto

True

In [ ]:
def numeros():
  a=int(input("Ingresa un número"))
  b=int(input("Ingresa un número"))
  c=int(input("Ingresa un número"))
  d=int(input("Ingresa un número"))
  perfect=[a,b,c,d]

  perfect1=[elemento for elemento in perfect if perfect(elemento)==True]
numeros()

In [ ]:
lista=[2,3,6,4]
#Lambda y map
perfect2=list(map(lambda elemento:perfecto(elemento)==True,lista))
perfect2

#4. Juandivox

In [ ]:
#Método tradicional
numero1= [random.randint(0,2000) for x in range(100)]
numero2= [random.randint(0,2000) for x in range(100)]
comun=[]
for a in numero1:
  for b in numero2:
    if a == b:
      comun.append(a)
print(comun)

[1513, 1894]

In [ ]:
#Método comprensión
import random
numero1= [random.randint(0,2000) for x in range(100)]
numero2= [random.randint(0,2000) for x in range(100)]
comun=[x for x in numero1 for y in numero2 if x==y]
print(comun)

[427, 319, 762, 1970, 225, 1612, 1243, 1154]

In [ ]:
#Método Lambda
import random
numero1= [random.randint(0,2000) for x in range(100)]
numero2= [random.randint(0,2000) for x in range(100)]
comun=[]
comun=list(filter(lambda num:num in numero1,numero2))
print(comun)

[1603, 1001, 866, 901, 1465]

#5. Daniel

In [ ]:
#Tradicional
def square1(num):
  return num **2
print(square1(5))

25

In [ ]:
#Comprensión
L = [2,4,6,8]
L2 = [n**2 for n in L]
print(L2)

[4, 16, 36, 64]

In [ ]:
#Lambda
lambda_func= lambda x:x**2
lambda_func(3)

9

#6. Angie

In [ ]:
nom1 = ["Samuelle" ,"Angie" ,"Valentina" ,"Alejandro" ,"Jonsito"]
nom2 = ["Samuelle" ,"Andrea" ,"Sandra" ,"Anderson" ,"Jonsito"]

In [ ]:
#Comprensión
common={a for a in nom1 for b in nom2 if a == b}
common

{'Jonsito', 'Samuelle'}

In [ ]:
#Lambda
common1=lambda nom1,nom2:common
print(common1(nom1,nom2))

{'Jonsito', 'Samuelle'}

In [ ]:
#Tradicional
def common(nom1,nom2):
  return nom1,nom2

In [ ]:
nom1,nom2

(['Samuelle', 'Angie', 'Valentina', 'Alejandro', 'Jonsito'],
 ['Samuelle', 'Andrea', 'Sandra', 'Anderson', 'Jonsito'])

#8. Luis Miguel

In [ ]:
#Tradicional
print("ingrese su código ")
caracter=input()
if len(caracter) ==8:
  if caracter[0]== "u":
    print("Eres estudiante Unab")
  elif(caracter.startswhith("a000")):
    print("Eres estudiante de los andes")
  else:
    if(int(caracter)>=1950):
      print("Eres estudiante UIS")
else:
  print("No corresponde a ninguna universidad, revisa tu código")

In [ ]:
#Comprensión
universidades=["unab","uis","andes"]
codigo=["U0123456","198562","a0005645"]

u=[cod for cod in codigo if cod[0]=="u" and len(cod)==8]
print(u)

[]

In [ ]:
#Lambda
y=list(map(lambda x:"unab" if (x[0]=="U")))